<!DOCTYPE html>
<html>
  <head>
    <title>Task Manager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-gray-100 text-gray-800 font-sans p-6">
    <nav class="mb-6">
      <% if user_signed_in? %>
        <p class="mb-2">Hello, <%= current_user.email %> | <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "text-blue-600 hover:underline" %></p>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "text-blue-600 hover:underline mr-4" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "text-blue-600 hover:underline" %>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
